<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="button1Name" value="Button 1" />
		<add key="button1Path" value="your path" />

		<add key="button2Name" value="Button 2" />
		<add key="button2Path" value="your path" />

		<add key="button3Name" value="Button 3" />
		<add key="button3Path" value="your path" />

		<add key="button4Name" value="Button 4" />
		<add key="button4Path" value="your path" />

		<add key="button5Name" value="Button 5" />
		<add key="button5Path" value="your path" />

		<add key="button6Name" value="Button 6" />
		<add key="button6Path" value="your path" />

		<add key="button7Name" value="Button 7" />
		<add key="button7Path" value="your path" />

		<add key="button8Name" value="Button 8" />
		<add key="button8Path" value="your path" />

		<add key="button9Name" value="Button 9" />
		<add key="button9Path" value="your path" />

		<add key="button10Name" value="Button 10" />
		<add key="button10Path" value="your path" />

		<add key="button11Name" value="Button 11" />
		<add key="button11Path" value="your path" />

		<add key="button12Name" value="Button 12" />
		<add key="button12Path" value="your path" />

		<add key="button13Name" value="Button 13" />
		<add key="button13Path" value="your path" />

		<add key="button14Name" value="Button 14" />
		<add key="button14Path" value="your path" />
	</appSettings>
</configuration>