<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Page 1 -->
		<add key="page1Button1Name" value="Button 1" />
		<add key="page1Button1Path" value="your path" />

		<add key="page1Button2Name" value="Button 2" />
		<add key="page1Button2Path" value="your path" />

		<add key="page1Button3Name" value="Button 3" />
		<add key="page1Button3Path" value="your path" />

		<add key="page1Button4Name" value="Button 4" />
		<add key="page1Button4Path" value="your path" />

		<add key="page1Button5Name" value="Button 5" />
		<add key="page1Button5Path" value="your path" />

		<add key="page1Button6Name" value="Button 6" />
		<add key="page1Button6Path" value="your path" />

		<add key="page1Button7Name" value="Button 7" />
		<add key="page1Button7Path" value="your path" />

		<add key="page1Button8Name" value="Button 8" />
		<add key="page1Button8Path" value="your path" />

		<add key="page1Button9Name" value="Button 9" />
		<add key="page1Button9Path" value="your path" />

		<add key="page1Button10Name" value="Button 10" />
		<add key="page1Button10Path" value="your path" />

		<add key="page1Button11Name" value="Button 11" />
		<add key="page1Button11Path" value="your path" />

		<add key="page1Button12Name" value="Button 12" />
		<add key="page1Button12Path" value="your path" />

		<add key="page1Button13Name" value="Button 13" />
		<add key="page1Button13Path" value="your path" />

		<add key="page1Button14Name" value="Button 14" />
		<add key="page1Button14Path" value="your path" />
		
		<!-- Page 2 -->
		<add key="page2Button1Name" value="Button 1" />
		<add key="page2Button1Path" value="your path" />

		<add key="page2Button2Name" value="Button 2" />
		<add key="page2Button2Path" value="your path" />

		<add key="page2Button3Name" value="Button 3" />
		<add key="page2Button3Path" value="your path" />

		<add key="page2Button4Name" value="Button 4" />
		<add key="page2Button4Path" value="your path" />

		<add key="page2Button5Name" value="Button 5" />
		<add key="page2Button5Path" value="your path" />

		<add key="page2Button6Name" value="Button 6" />
		<add key="page2Button6Path" value="your path" />

		<add key="page2Button7Name" value="Button 7" />
		<add key="page2Button7Path" value="your path" />

		<add key="page2Button8Name" value="Button 8" />
		<add key="page2Button8Path" value="your path" />

		<add key="page2Button9Name" value="Button 9" />
		<add key="page2Button9Path" value="your path" />

		<add key="page2Button10Name" value="Button 10" />
		<add key="page2Button10Path" value="your path" />

		<add key="page2Button11Name" value="Button 11" />
		<add key="page2Button11Path" value="your path" />

		<add key="page2Button12Name" value="Button 12" />
		<add key="page2Button12Path" value="your path" />

		<add key="page2Button13Name" value="Button 13" />
		<add key="page2Button13Path" value="your path" />

		<add key="page2Button14Name" value="Button 14" />
		<add key="page2Button14Path" value="your path" />

		<!-- Page 3 -->
		<add key="page3Button1Name" value="Button 1" />
		<add key="page3Button1Path" value="your path" />

		<add key="page3Button2Name" value="Button 2" />
		<add key="page3Button2Path" value="your path" />

		<add key="page3Button3Name" value="Button 3" />
		<add key="page3Button3Path" value="your path" />

		<add key="page3Button4Name" value="Button 4" />
		<add key="page3Button4Path" value="your path" />

		<add key="page3Button5Name" value="Button 5" />
		<add key="page3Button5Path" value="your path" />

		<add key="page3Button6Name" value="Button 6" />
		<add key="page3Button6Path" value="your path" />

		<add key="page3Button7Name" value="Button 7" />
		<add key="page3Button7Path" value="your path" />

		<add key="page3Button8Name" value="Button 8" />
		<add key="page3Button8Path" value="your path" />

		<add key="page3Button9Name" value="Button 9" />
		<add key="page3Button9Path" value="your path" />

		<add key="page3Button10Name" value="Button 10" />
		<add key="page3Button10Path" value="your path" />

		<add key="page3Button11Name" value="Button 11" />
		<add key="page3Button11Path" value="your path" />

		<add key="page3Button12Name" value="Button 12" />
		<add key="page3Button12Path" value="your path" />

		<add key="page3Button13Name" value="Button 13" />
		<add key="page3Button13Path" value="your path" />

		<add key="page3Button14Name" value="Button 14" />
		<add key="page3Button14Path" value="your path" />

		<!-- Page 4 -->
		<add key="page4Button1Name" value="Button 1" />
		<add key="page4Button1Path" value="your path" />

		<add key="page4Button2Name" value="Button 2" />
		<add key="page4Button2Path" value="your path" />

		<add key="page4Button3Name" value="Button 3" />
		<add key="page4Button3Path" value="your path" />

		<add key="page4Button4Name" value="Button 4" />
		<add key="page4Button4Path" value="your path" />

		<add key="page4Button5Name" value="Button 5" />
		<add key="page4Button5Path" value="your path" />

		<add key="page4Button6Name" value="Button 6" />
		<add key="page4Button6Path" value="your path" />

		<add key="page4Button7Name" value="Button 7" />
		<add key="page4Button7Path" value="your path" />

		<add key="page4Button8Name" value="Button 8" />
		<add key="page4Button8Path" value="your path" />

		<add key="page4Button9Name" value="Button 9" />
		<add key="page4Button9Path" value="your path" />

		<add key="page4Button10Name" value="Button 10" />
		<add key="page4Button10Path" value="your path" />

		<add key="page4Button11Name" value="Button 11" />
		<add key="page4Button11Path" value="your path" />

		<add key="page4Button12Name" value="Button 12" />
		<add key="page4Button12Path" value="your path" />

		<add key="page4Button13Name" value="Button 13" />
		<add key="page4Button13Path" value="your path" />

		<add key="page4Button14Name" value="Button 14" />
		<add key="page4Button14Path" value="your path" />

		<!-- Page 5 -->
		<add key="page5Button1Name" value="Button 1" />
		<add key="page5Button1Path" value="your path" />

		<add key="page5Button2Name" value="Button 2" />
		<add key="page5Button2Path" value="your path" />

		<add key="page5Button3Name" value="Button 3" />
		<add key="page5Button3Path" value="your path" />

		<add key="page5Button4Name" value="Button 4" />
		<add key="page5Button4Path" value="your path" />

		<add key="page5Button5Name" value="Button 5" />
		<add key="page5Button5Path" value="your path" />

		<add key="page5Button6Name" value="Button 6" />
		<add key="page5Button6Path" value="your path" />

		<add key="page5Button7Name" value="Button 7" />
		<add key="page5Button7Path" value="your path" />

		<add key="page5Button8Name" value="Button 8" />
		<add key="page5Button8Path" value="your path" />

		<add key="page5Button9Name" value="Button 9" />
		<add key="page5Button9Path" value="your path" />

		<add key="page5Button10Name" value="Button 10" />
		<add key="page5Button10Path" value="your path" />

		<add key="page5Button11Name" value="Button 11" />
		<add key="page5Button11Path" value="your path" />

		<add key="page5Button12Name" value="Button 12" />
		<add key="page5Button12Path" value="your path" />

		<add key="page5Button13Name" value="Button 13" />
		<add key="page5Button13Path" value="your path" />

		<add key="page5Button14Name" value="Button 14" />
		<add key="page5Button14Path" value="your path" />

		<!-- Page 6 -->
		<add key="page6Button1Name" value="Button 1" />
		<add key="page6Button1Path" value="your path" />

		<add key="page6Button2Name" value="Button 2" />
		<add key="page6Button2Path" value="your path" />

		<add key="page6Button3Name" value="Button 3" />
		<add key="page6Button3Path" value="your path" />

		<add key="page6Button4Name" value="Button 4" />
		<add key="page6Button4Path" value="your path" />

		<add key="page6Button5Name" value="Button 5" />
		<add key="page6Button5Path" value="your path" />

		<add key="page6Button6Name" value="Button 6" />
		<add key="page6Button6Path" value="your path" />

		<add key="page6Button7Name" value="Button 7" />
		<add key="page6Button7Path" value="your path" />

		<add key="page6Button8Name" value="Button 8" />
		<add key="page6Button8Path" value="your path" />

		<add key="page6Button9Name" value="Button 9" />
		<add key="page6Button9Path" value="your path" />

		<add key="page6Button10Name" value="Button 10" />
		<add key="page6Button10Path" value="your path" />

		<add key="page6Button11Name" value="Button 11" />
		<add key="page6Button11Path" value="your path" />

		<add key="page6Button12Name" value="Button 12" />
		<add key="page6Button12Path" value="your path" />

		<add key="page6Button13Name" value="Button 13" />
		<add key="page6Button13Path" value="your path" />

		<add key="page6Button14Name" value="Button 14" />
		<add key="page6Button14Path" value="your path" />
	</appSettings>
</configuration>